.container {
  width: 400px;
  border-radius: 10px;
  padding: 20px 10px;
  background-color: #f0ebe1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

form {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 5px 10px;
  margin-bottom: 10px;
  outline: none;
}

button {
  margin-top: 20px;
  display: block;
}
