.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.acc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: x-large;
  cursor: pointer;
}
.acc-handler {
  font-size: x-large;
  cursor: pointer;
}
.accordion {
  width: auto;
  min-width: 500px;
}

.buttons {
  display: flex;
  gap: 10px;
}

img {
  border-radius: 50%;
}

.item {
  background-color: #f0ebe1;
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title {
  color: #85622b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  color: #8b7f75;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
