* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  background-image: url("../public/images/escalator.jpg");
  background-size: 100% 100%;
  overflow-y: scroll;
  height: 100vh;
}

.heading {
  color: aliceblue;
  margin-bottom: 20px;
  font-size: x-large;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0.95;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-block: 10px;
  font-size: medium;
}

.acc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: x-large;
  cursor: pointer;
}
.acc-handler {
  font-size: x-large;
  cursor: pointer;
}
.accordion {
  width: 80rem;
}

@media (max-width: 600px) {
  .accordion {
    width: 30rem;
  }
  .buttons {
    flex-direction: column;
  }
  li {
    flex-direction: column;
    font-size: small;
  }
}
@media (max-width: 850px) and (min-width: 600px) {
  .accordion {
    width: 55rem;
  }
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  width: 200px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #85622b;
  color: azure;
  font-size: large;
}

img {
  border-radius: 50%;
}

.item {
  background-color: #f0ebe1;
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title {
  color: #85622b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  color: #8b7f75;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
